* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-bottom: 33px;


    h2 {
        font-weight: 700;
        font-size: 26px;
    }

}

.admin_svg {
    height: 72px;
    width: 59px;
}

.col_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    .input_wrap {
        gap: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 470px;

        .svg_eye {
            right: 10px;
            top: 10px;
            position: absolute;
            cursor: pointer;
            width: 18px;
            height: 16px;
        }
    }

    span {
        display: flex;
        width: 470px;
        font-size: 14px;
        color: red;
    }

    input {
        border: 1px solid #828282;
        border-radius: 5px;
        height: 25px;
        padding: 5px;
        font-family: 'Roboto';

        &:focus {
            outline: none;
        }
    }

    p {
        width: 470px;
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #828282;
        cursor: pointer;
    }

    svg {
        right: 10px;
        bottom: 10px;
        position: absolute;
        cursor: pointer;
        width: 18px;
        height: 16px;
    }
}

.main_btn {
    width: 95px;
    height: 37px;
    background: #2798FC;
    border-radius: 100px;
    color: #FFFFFF;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.admin_menu_wrap {
    background: #F9F9F9;
    height: 100vh;
    width: 300px;

    h2 {
        padding: 16px 0 45px 26px;
        font-weight: 700;
        font-size: 26px;
    }
}

.col_3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 26px 0 26px;


    button {
        padding: 16px 0 16px 0;
        text-decoration: none;
        font-weight: 400;
        font-size: 18px;
        color: #384046;
        width: 100%;
        text-align: center;
        cursor: pointer;
        border: none;
        background: inherit;

        &:hover {
            background: #D6EBFE;
            border-radius: 5px;
            font-weight: 700;

        }

    }
}

.flex {
    display: flex;
    justify-content: space-between;
}

.row_3 {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 16px 26px 10px 0;
    justify-content: space-between;

    .select_wrapper {
        gap: 8px;
        display: flex;
    }

}

.row_2 {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.input_wrapper {
    position: relative;

    input {
        width: 370px;
        height: 38px;
        background: #F8F8FA;
        border-radius: 5px;
        padding-left: 30px;
        border: none;
        font-size: 14px;

        &:focus {
            outline: none
        }

        &::placeholder {
            font-weight: 400;
            color: #0D151C;

        }
    }

    svg {
        position: absolute;
        left: 6px;
        top: 7px;
        width: 18px;
        height: 18px;
    }
}

.container {
    width: 100%;
    padding: 0 20px 16px 20px;

    .info_wrap {
        background: #FFFFFF;
        box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.14);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        h2,
        p {
            font-size: 30px;
            font-weight: 700;
        }
    }

    .item_info {
        padding: 42px 50px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }
}

.chart_wrap {
    background: #FFFFFF;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
}

.search_wrapper {
    width: 330px;
    padding: 16px 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    right: 150px;
    position: absolute;

    .row_2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    p {
        font-weight: 400;
        font-size: 14px;
        color: #63676A;
    }

    .item_wrapper {
        padding: 7px 0;
        gap: 20px;
        display: flex;
        align-items: center;

        p {
            color: #0D151C;
        }
    }
}

.items_wrapper {
    width: 130px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 14px;
    color: #0D151C;
    padding: 8px 0;
    position: absolute;
    right: 12px;

    div {
        padding: 8px 16px;

        &:hover {
            background: #D1E8FD;
        }
    }
}

.ghSettingsModal {
    width: 412px;
    height: 240px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 24%;
    left: 36%;
    border: none !important;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.14);
    border-radius: 5px;


}

.content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-top: 15px;

    .row-2 {
        gap: 19px;
        display: flex;
        align-items: center;

    }

    p {
        font-size: 16px;
        line-height: 19px;
        color: #727272;
    }

    span {
        display: flex;
        width: 470px;
        font-size: 14px;
        color: red;
    }
}


.close_svg {
    position: absolute;
    width: 14px;
    height: 14px;
    right: 13px;
    top: 13px;
    cursor: pointer;
}

.ghChangePasswordModal {
    width: 412px;
    height: 340px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 24%;
    left: 36%;
    border: none !important;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
}

.btn_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
    gap: 30px;

    .btn_create {
        background: #2798FC;
        border-radius: 100px;
        width: 130px;
        height: 37px;
        color: white;
        border: none;
        cursor: pointer;
    }

    .btn_export {
        background: #86A9C8;
        border-radius: 100px;
        border-radius: 100px;
        width: 127px;
        height: 37px;
        color: white;
        border: none;
        cursor: pointer;
        width: 127px;
        height: 37px;
    }
}

.ghCreateUserModal {
    width: 539px;
    height: 277px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 24%;
    left: 36%;
    border: none !important;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.14);
    border-radius: 5px;

}

.input_main {
    padding: 10px;
    border: 1px solid #828282;
    border-radius: 5px;
    width: 210px;
    height: 16px;

    &:focus {
        outline: none
    }

}

.error_wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 231px
}

.titles_wrapper {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 25px;
    gap:20%;


    h3 {
        font-weight: 700;
        font-size: 16px;
        color: #385BE8;

    }
}

.user_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    font-size: 15px;
    font-weight: 400;

}